<h1 class="index_h1">Welcome to ProjecToo</h1>
<h2 class="index_h2">Getting equipment you don't need to people that do!</h2>

<h3>To access the platform please Login or Create a Profile for your Organisation:</h3>

<button><a href="/login">Login</a></button>
<button><a href="/login/new">Create Profile</a></button>