<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<% if logged_in?%>
  <header class="layout_header">
    <ul class="layout_ul">
      <li class="layout_li"><a href="/main">Home</a></li>
      <li class="layout_li"><a href="/items/new">Quick Add Item</a></li>
      <li class="layout_li"><a href="/items">Item List</a></li>
      <li class="layout_li"><form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
      </form></li>
      <li class="layout_li">logged in as <%= current_user()['email'] %></li>
    </ul>
  </header>
<% end %>
<main>
  <%= yield %>
</main>

</body>
</html>
