<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Bebas+Neue&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<% if logged_in?%>
  <header class="layout_header">
    <ul class="layout_ul">
      <li class="layout_li">logged in as <%= current_user()['email'] %></li>
      <li class="layout_li"><a href="/main">Home</a></li>
      <li class="layout_li"><a href="/items/new">Quick Add Item</a></li>
      <li class="layout_li"><a href="/items">Item List</a></li>
      <li class="layout_li">
        <form action="/session" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </form>
      </li>
    </ul>
  </header>
<% end %>
<main>
  <%= yield %>
</main>

    <footer>
    &copy; ProjecToo 2021 by C.G.
    </footer>

</body>
</html>
