
<h1>Hi Main</h1>

<%# if supplier
    2 buttons one for supplier specific db list ('/items') other for global view
    quick add new item <button>Add to 'Available' List</button> '/items/new' get
    <button>Edit/Remove 'Available' Item</button>

if consumer
    '/items' <button>Global Items List</button> %>

