<h2>Create Organisation Profile</h2>

<form action="/login" method= "post">
    <label for="">Name</label>
    <input type="text" name="individual_name">

    <label for="">Organisation Name</label>
    <input type="text" name="org_name">

    <label for="">Organisation Type</label>
    <input type="text" name="org_type">

    <label for="">Regulatory Body</label>
    <input type="text" name="regulatory_authority">

    <label for="">Regulatory Registration ID</label>
    <input type="text" name="registration_num">

    <label for="">Contact Phone Number</label>
    <input type="text" name="phone_num">

    <label for="">Email</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button>Create Account</button>


</form>