<h2>Add Available Item</h2>

<form action="/items" method= "post">

    <label for="manufacturer">Manufacturer</label>
    <input type="text" name= "manufacturer" id= "manufacturer">

    <label for="item_name">Item Name</label>
    <input type="text" name= "item_name" id= "item_name">

    <label for="manufacturer_ref_num">Manufacturer Reference Number</label>
    <input type="text" name= "manufacturer_ref_num" id= "manufacturer_ref_num">

    <label for="quantity">Quantity</label>
    <input type="number" name= "quantity" id= "quantity">

    <label for="item_type">Item Type</label>
    <input type="text" name= "item_type" id= "item_type">

    <label for="item_desc">Item Description</label>
    <input type="text" name= "item_desc" id= "item_desc">

    <label for="item_url">User Manual URL</label>
    <input type="text" name= "item_url" id= "item_url">

    <label for="item_expiry_date">Expiry Date</label>
    <input type="date" name= "item_expiry_date" id= "item_expiry_date">

    <label for="date_available_from">Available From</label>
    <input type="date" name= "date_available_from" id= "date_available_from">

    <label for="date_available_to">Available To</label>
    <input type="date" name= "date_available_to" id= "date_available_to">

    <label for="storage_location">Storage Location</label>
    <input type="text" name= "storage_location" id= "storage_location">

    <label for="storage_req">Storage Requirements</label>
    <input type="text" name= "storage_req" id= "storage_req">

    <button>Add Item</button>

</form>