* {
    box-sizing: border-box;
    background-color: rgb(159, 223, 248);
    /* margin: 2% 5% 5% 5%; */
}
.layout_header {
    width: 70%;
    margin: 5% auto 2% auto;
}
.layout_ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: black;
}
.layout_li {
    padding: 15px;
    list-style-type: none;
    list-style-position: outside;
    border-right: 1px solid white;
    color: white;
    text-align: center;
    font-size: 16pt;
    font-weight: lighter;
    font-stretch: expanded;
}
.layout_ul li:last-child {
    border-right: none;
}
main {
    width: 70%;
    margin: 20px auto;
}
a {
    text-decoration: none;
}